@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));



@theme  {
  --color-primary: #FFC263;
  --font-family-pri: "Bebas Neue", sans-serif;
  --font-family-sec:'Montserrat', sans-serif;
}


